
#errorId{
    
    text-align: center;
    margin-left: auto;
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;

   
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 400;
    
} 

#containerId{
    background-color:white;
    padding:20px;
    border-radius:10px;
    margin-top:10%;
    width:30%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#loginInputEmail{
    
    border:none;
   
    outline-color: red;
    border-radius:5px;
  
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}
#loginInputEmail:focus {
    color: #495057;
    background-color: #fff;
    border-color: inherit;
    outline: 0;
    
    border-radius:5px;
  
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#loginInputPassword{
    
    border:none;
   
    outline-color: red;
    border-radius:5px;
  
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}
#loginInputPassword:focus {
    color: #495057;
    background-color: #fff;
    border-color: inherit;
    outline: 0;
    
    border-radius:5px;
  
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


#buttonId{
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    border-radius: 5px;
    color: #ffffff;
    background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #c58668;
}

#buttonId:active{
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}
